

table {

	border: 1px solid;
	background: #ffffff;
	width: 100%;
	border-collapse: collapse;

}

table tr {
    border: 1px solid #000000;

}

table tbody tr:nth-child(odd) {
	background-color: #FFFF00;
}

table tbody tr:hover {
	background-color: #EEEEEE;
}

table th,
table td {
	padding: 2.5rem;
	font-size: 1.6rem;
	text-align: center;
    vertical-align: middle;
	border: 1px solid #000000;
}

table tr td:first-child {
	text-align: left;
	font-weight: bold;
}

table th {
	background-color: #034589;
	color: #ffffff;
	text-align: center;
	
}


.table-container {
	padding: 2rem 1rem;
}

.table-container h3 {
	font-size: 1.8rem;
	font-style: normal;
	margin-bottom: 1rem;
}

.table-container tfoot td {
	font-weight: bold;
	background-color: #FFFF00;
}

.table-container thead th {
	text-align: center;
	width: 100%;
}
#prod td {
    font-weight: bold;
}

